{% extends 'KLSAdminBundle::layout.html.twig' %}

{% block smallTitle %}{% endblock %}

{% block content %}
    <div class="col-lg-offset-2 col-lg-8">
        {{ form(form) }}
    </div>
{% endblock %}