{% if modals is not empty %}

    {% for modal in modals %}

        <div class="modal fade" id="{{ modal.id }}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">

                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title text-danger">Demande de confirmation</h4>
                    </div>

                    <div class="modal-body">
                        <p>
                            {% include 'KLSAdminBundle:' ~ type|capitalize ~ ':modal' ~ type|capitalize ~ '.html.twig' ignore missing with {'modal': modal} %}
                        </p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button data-id="{{ modal.id }}" data-type="{{ type }}" type="button" class="confirm-delete btn btn-danger">Confirmer</button>
                    </div>

                </div><!-- /.modal-content -->

            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    {% endfor %}

{% endif %}